{% extends "block.html.twig" %}
{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - $block->subject: Block title.
 * - $content: Block content.
 * - $block->module: Module that generated the block.
 * - $block->delta: An ID for the block, unique within each module.
 * - $block->region: The block region embedding the current block.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. The default values can be one or more of the
 *   following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user
 *     module is responsible for handling the default user navigation block. In
 *     that case the class would be 'block-user'.
 * - $title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - $title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - $classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable $classes.
 * - $block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - $zebra: Same output as $block_zebra but independent of any block region.
 * - $block_id: Counter dependent on each block region.
 * - $id: Same output as $block_id but independent of any block region.
 * - $is_front: Flags true when presented in the front page.
 * - $logged_in: Flags true when the current user is a logged-in member.
 * - $is_admin: Flags true when the current user is an administrator.
 * - $block_html_id: A valid HTML ID and guaranteed unique.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_block()
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see bootstrap_process_block()
 * @see template_process()
 */
#}

  {% block content %}
	<hr>
  	<div id="blocks-projects">
      <div class="col-sm-4">
        <h3>POSSE PROJECT</h3>
        <img src="{{ base_path ~ directory }}/images/homepage-posse.png" alt="homepage">

        <p>HTML | CSS | SASS | PHP | TWIG | Drupal 8 | Drupal API </p> 

        <p>Publish Own Site Syndicate Elsewhere (POSSE), a portfolio and  blog sites utilized HTML, CSS, SASS, Responsive design, Drupal console, Object Oriented Programming, Drupal API, and Hooks system on hands-on Enterprise Drupal 8 development. A course project from Debug Academy. View develop branch repo on Github:

        <a href="https://github.com/adriennedao/proj-posse-1">View Repo</a></p>
      </div>
      <div class="col-sm-4">
        <h3>POSSE PROJECT</h3>
        <img src="{{ base_path ~ directory }}/images/my-project1.png" alt="comm">

        <p>Drupal Hooks | Drupal Console | Bootstrap | JavaScript | jQuery</p>
      </div>
      <div class="col-sm-4">
        <h3>TRAVELBLOG</h3>
          <img src="{{ base_path ~ directory }}/images/Travelblog.png" alt="travel">

        <p>Rails | HTML | Javascript | CSS | PostgreSQL | Bootstrap | Heroku</p>
        <p>TravelBlog is an app where travelers can blog their travel experiences.

        <a href="https://github.com/adriennedao/travelblog">View Repo</a></p>
      </div>    
       <hr>         
    </div>
  	

  {% endblock %}
