
/* ----Homepage---- */

/* Services */
  #block-services  {
    background-color: #173244;
    color: #ffffff;

    h2 {
      text-align: center;
      list-item: none;
    }

    p {
      text-align: center;
      }

      ul {
        list-style-type: none;
        display: block;
        margin: 80px auto;
        padding: 0;
      }
    }

    .services-list {
        @include make-sm-column(10);
        @include make-sm-column-offset(1);
     
      li {
        width: 30%;
        display: inline-block;
        padding-top: 50px;
        text-align: center;
        &:first-child {
          margin-right: 4.3%;
        }
        &:last-child {
          margin-left: 4.3%;
        }

        .web-development {
         background: url("../images/icon-computer.png") no-repeat center top;
        }
        .app-development {
         background: url("../images/icon-mobile-device.png") no-repeat center top;
        }
        .seo-assistance {
         background: url("../images/icon-magnifier.png") no-repeat center top;
      }
    }
  }