
/* ----Homepage---- */

/*---About Section---*/
  

  h3{
    font-size: 25px;
    font-weight: 400;
  }

  .about-wrapper {
    background: url("../images/jpg") no-repeat center top;
  }
  
  .about-wrapper p {
    font-size: 18px;
    color: grey;
  }

  ul {
    list-style-type: none;
  }

  li {
    font-size: 18px;
  }

  .projects-wrapper {
    font-size: 20px;

  }

  .footer container {
    font-size: 25px;
  }