
/* ------Homepage-----*/


.small-12 {
    width: 100%;
}

.top-bar-section {
  position: relative;
  padding-bottom: 0;
  display: block;
}

.block-title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.top-bar {
  overflow: hidden;
  height: 79px;
  line-height: 79px;
  position: relative;
  margin-bottom: 0;
}

#my-menu {
  background-color: #4286f4;
  padding-bottom: 25px; 
  height: 130px;
  padding-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px; 
}

#my-menu a {
  color: #ffffff;
  font-weight: 400;
}

#my-menu ul {
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 100;
  display: flex;
}

#my-menu li {
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
  padding-top: 8px;
  padding-left: 50px;
}

  .icon {
    color: gray;
  }


  .lable span {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ffffff;
  }

  h3{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    height: 40px;
    color: #005779;
  }

  h4 { 
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
    color: #005779;
    text-align: center;

  }

  h6 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #005779;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .responsive-menu-toggle-icon span.label {
    display: block;
    position: absolute;
    font-size: 17px;
    text-transform: uppercase;
    top: 2px;
    left: 40px;
  }
  .icon {
    text-decoration: none;
  }

  .responsive-menu-toggle-icon {
    box-sizing: border-box;
    display: block;
    width: 44px;
    height: 35px;
    z-index: 4;
    margin-top: 0;
    position: relative;
  }

  a {
    background-color: transparent;
  }

.responsive-menu-toggle-icon span.label {
    display: block;
    position: absolute;
    font-size: 17px;
    text-transform: uppercase;
    top: 2px;
    left: 40px;
}

  .homepage {
    list-style-type: none;
    background: #eae9e6;
    height: 703px;
    width: 568px;
  }

  .post-info {
    background-color: #EFEFEF;
    padding: 20px 30px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin: 0px;

  }

  .homepage h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 8px;
  }

  .post-info {
    background-color: #EFEFEF;
    padding: 20px 30px;
    margin: 30px 0 60px;
  }
  .small-4.column.picture{
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .info.column.small-8 {
    float: right;
  }

  .byline .author-name {
    display: block;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
  }

  .byline .author-short {
    margin: 16px 0px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
  }

  .byline img {
    border-radius: 50%
  }

  img {
    display: inline-block;
  }

  .byline em {
    color: #DB291D;
  }

  em {
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }

  .byline .author-short {
    margin: 16px 0;
  }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18;
  line-height: 2;
  margin-bottom: 1.25rem;
  ont-weight: 300;
  display: block;

  }

.author-name {
  padding-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
}

  .about-wrapper p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
  }

  #views_block__about__block_1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
  }

  
  .about-wrapper p {
    font-size: 18px;
    color: grey;
    font-family: 'Roboto', sans-serif;
  }

  ul {
    list-style-type: none;
  }

  .about-dev {
      img {
        width: 33%;
      }
  }

  .views-field views-field-body p {
    font-size: 14px;
    color: #005779;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 8px;
  }

  .field-content p {
    color: #005779;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
  }

  .field-content a {
    color: #005779;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .portfolio-wrapper li {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    display: inline-block;
  }

  .projects-wrapper li {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }

  .col-sm-4 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    display: inline-block;
    padding-top: 45px;
    padding-bottom: 100px;
  }

  .footer container {
    background: #243b55;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
  }

  #block-addtoanybuttons {
    height: 150px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
  }
  
  